@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Afacad", sans-serif;
}

h1,
h2,
h3,
.Afacad {
  font-family: "Afacad", sans-serif;
}

.Afacad-bold {
  font-family: "Afacad", sans-serif;
  font-weight: 700;
}

.Afacad-italic {
  font-family: "Afacad", sans-serif;
  font-style: italic;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
